<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Client</title>
  </head>
  <body>
    <p>Access token value: <%= access_token %></p>
    <a href="/authorize">Get OAuth Token</a>
    <a href="/fetch_resource">Get Protected Resource</a>
  </body>
</html>
